@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    margin: 20px;
    font-family: "Poppins";
    background: #261C2C;
}

h1, h2, h3 {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

header {
    max-width: 1200px;
    margin: 20px auto;
    border-bottom: 1px solid #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.grid-container > a {
    grid-column: span 3;
    border-radius: 8px;
    padding: 10px;
}

.grid-item-1, .grid-item-4 {
    background-color: #3E2C41;
}

.grid-item-2, .grid-item-5 {
    background-color: #5C527F;
}

.grid-item-3, .grid-item-6 {
    background-color: #6E85B2;
}

@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }   

    .grid-container > a {
        grid-column: span 1;
    }
}

@media screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }   

    .grid-container > a {
        grid-column: span 1;
    }
}